body
{
    background: linear-gradient(#2554C7 , #b0b4b8) ;
}

#scorespan
{
    font-size: 40px;
    margin-left: 30px;
    float: left;
    color: yellow;
    font-family: 'League Gothic', sans-serif;
}

#timerspan
{
    font-size: 40px;
    float: right;
    margin-right: 30px;
    color: yellow;
    font-family: 'League Gothic', sans-serif;
}

#sketch
{
    color:yellow ;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

